@charset "utf-8";
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap");
@font-face {
    font-family: 'Collager';
    src: url('../font/CollagerExtraLight.ttf') format('truetype');
}

/* reset */
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}
img {
  max-width: 100%;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  color: #333;
  user-select: none;
}
#wrap {
  min-width: 280px;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
}
#inner-wrap {
  margin: 0 25px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}
button:focus {
  outline: none;
}
input {
  outline: none;
  border: none;
}